<div class="container">
  <page-header title="{{'Admin' | translate}}">
  </page-header>

  <div class="bg-white tiled">
    <ul class="tab-nav">
      <li><a href="admin/status">{{'System Status' | translate}}</a></li>
      <li><a href="admin/queries/tasks">{{'Queries Queue' | translate}}</a></li>
      <li class="active"><a href="admin/queries/outdated">{{'Outdated Queries' | translate}}</a></li>
    </ul>

    <div class="">
      <table class="table table-condensed table-hover">
        <thead>
        <tr>
          <th>{{'Id' | translate}}</th>
          <th>{{'Name' | translate}}</th>
          <th>{{'Created By' | translate}}</th>
          <th>{{'Runtime' | translate}}</th>
          <th>{{'Last Executed At' | translate}}</th>
          <th>{{'Created At' | translate}}</th>
          <th>{{'Update Schedule' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in $ctrl.queries.getPageRows()">
          <td>
            {{row.data_source_id}}
          </td>
          <td>
            <a ng-href="queries/{{row.id}}">{{row.name}}</a>
          </td>
          <td>{{row.user.name}}</td>
          <td>{{row.runtime | durationHumanize}}</td>
          <td>{{row.retrieved_at | dateTime}}</td>
          <td>{{row.created_at | dateTime }}</td>
          <td>{{row.schedule | scheduleHumanize}}</td>
        </tr>
        </tbody>
      </table>
      <paginator paginator="$ctrl.queries"></paginator>

      <div class="p-15">
        <div class="badge">
          {{'Last update' | translate}}: <span am-time-ago="updatedAt"></span>
        </div>
        (<label><input type="checkbox" ng-model="autoUpdate"> {{'Auto Update' | translate}}</label>)
      </div>
    </div>
  </div>
</div>
