{% extends "layouts/signed_out.html" %}

{% block title %}{{'Password Reset' | translate}}{% endblock %}

{% block content %}
<div class="fixed-width-page">
  <div class="bg-white tiled">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form role="form" method="post" name="invite">
      <div class="form-group">
        <label for="password">{{'Enter your new password' | translate}}:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="{{'Password' | translate}}">
      </div>
      <button type="submit" class="btn btn-primary btn-block m-t-25">{{'Change my password' | translate}}</button>
    </form>
  </div>
</div>
{% endblock %}
